<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Check-out list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let d of data | slice:5:10; let i = index">
      <ion-label>
        <h2>{{d.name}}</h2>
        <p>Email: {{d.email}}</p>
        <p>Address: {{ d.address }}</p>
        <p>Tel: {{d.phone}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="isLoading">
    <div class="ion-padding custom-skeleton" *ngFor="let i of skeletonLoader">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  </div>
</ion-content>
