#map {
    height: 65%;
}

#seconddiv {
    height: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 5px 10px #888888;
   
}