
<ion-content padding='true'>
<div class="center">
  <h1>Sign in</h1>
</div>
<form>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input autocomplete="off" type="email" name="email" [(ngModel)]="postData.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
    </ion-item>
    <ion-button expand="block" share="round" color="success" (click)="_login()">{{!isLoggedIn ? 'Login': 'Loading...'}}</ion-button>
  </ion-list>
</form>
</ion-content>
