<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Barcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="scanActive ? '#00000000' : '#fff'">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button (click)="startScan()" [hidden]="scanActive">
      <ion-icon name="scan"></ion-icon>
        Start Scan
    </ion-button>
  </ion-fab>
  <p class="ion-text-center" *ngIf="result && !scanActive">{{ result }}</p>

  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScan()">Stop</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>
</ion-content>
