<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header> Available Reciepes </ion-list-header>

    <ion-item *ngFor="let recipe of recipes; let i = index;">
      <ion-avatar slot="start">
        <img src={{recipe.img}} />
      </ion-avatar>
      <ion-label>
        <h2>{{recipe.title}}</h2>
        <p>{{recipe.content}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
